.container {
  display: flex;
  width: 100vw;
}

.navbar {
  background-color: #333;
  width: 200px; /* Fixed width for the navbar */
  height: 100vh; /* Full height of the viewport */
}

.navbar ul {
  list-style-type: none;
  padding: 20px 0;
}

.navbar ul li {
  padding: 15px 20px;
}

.navbar ul li {
  color: white;
  text-decoration: none;
  display: block;
}

.navbar ul li:hover {
  background-color: #575757;
  cursor: pointer;
}

.content {
  padding: 20px;
  flex-grow: 1; /* Allows the content to take the remaining space */
}
