.container {
  display: flex;
  width: 100vw;
}

.navbar {
  background-color: #333;
  width: 200px; /* Fixed width for the navbar */
  height: 100vh; /* Full height of the viewport */
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar.fixed {
  position: fixed;
  top: 0%;
  left: 0%;
}

.navbar ul {
  list-style-type: none;
  padding: 20px 0;
}

.navbar ul li {
  padding: 15px 20px;
}

.navbar ul li {
  color: white;
  text-decoration: none;
  display: block;
}

.navbar ul li:not(.no-hover):hover {
  background-color: #575757;
  cursor: pointer;
}

.navbar ul li a {
  display: flex;
  align-items: end;
  gap: 10px;
}

.content {
  padding: 20px;
  flex-grow: 1; /* Allows the content to take the remaining space */
}

.hero h1 {
  margin-top: 10px;
  text-align: center;
}

.hero p {
  text-align: center;
}

.hero h2 {
  margin-top: 10px;
  text-align: center;
}

.hero img {
  margin-top: 20px;
  width: 50%;
  
  position: relative;
  left: 25%;
  
  border-radius: 1em;
}